
<nav class="navbar navbar-default">
   <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

                <!-- style="color:#FF1493" -->
            <a class="navbar-brand" href="#" ><img style="margin-top:-15px;padding-top: 0%;width:150px;background-color:white;height:60px;" src="/img/logo.png"></a>
       

        <!-- Collect the nav links, forms, and other content for toggling -->
        
            <ul class="nav navbar-nav">
                    <%  if(!currentUser) {%>
                <li class="active"><a href="/">
                        <strong>Home </strong><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <%}%>
                <%  if(currentUser) {%>
                <li class="active"><a href="/profile"><i class="fa fa-plane"></i>
                        <strong>Book</strong></a></li>
                <%}%>

                <% if(currentUser && (currentUser.username)=== "admin@mail.com") { console.log((currentUser.username)=== "shubham")  %>
                <li class="active"><a href="/profile/new"><i class="fa fa-arrow-circle-o-up"></i>
                        <strong>Add-Timings</strong></a></li>
                <%}%>
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <%  if(!currentUser) {%>
                <!-- <li class="active"><a href="/register"><i class="fa fa-user-plus"></i> <strong>SignUp</strong></a></li> -->
                <li class="active"><a href="/login"><i class="fa fa-user"></i> <strong>LogIn</strong></a></li>
                <%}%>
                <%  if(currentUser) {%>
                <li class="active"><a href="/logout"><i class="fa fa-sign-out"></i><strong>LogOut</strong></a></li>

                <%}%>

                <%  if(currentUser) {%>
                <li style="padding: 15px 0 0 20px; color:black">
                    <i class="fa fa-address-book" aria-hidden="true"><strong>
                            <%= currentUser.username %></strong></i> </li>
                <%}%>
            </ul>
            </div>
                <%  if(currentUser) {%>
                <li style="padding-right: 0%;padding-top: 0%">
                    <form>

                        <input type="button" style="position:absolute;top:50px;right:0;" class="btn btn-success"
                            onclick="printDiv('data')" value="print" />
                    </form>
                </li>
                <%}%>
            
            </div>
   
</nav>

<script type="text/javascript">

    function printDiv(divName) {

        var printContents = document.getElementById(divName).innerHTML;
        w = window.open();
        w.document.write(printContents);
        w.print();
        w.close();

    }
</script>