
<% layout('layout') -%>

<div class="container" style="background-image:url('/img/lt.jpg');height: 100vh;background-position: center;width: 100%;">
  <div class="row";>
    <div class="container" style="width:30%;margin:0  auto;">
      <%  if(message.length>0) {%>
      <div class="alert alert-danger" role="alert">
        <h5>
          <%= message %>
        </h5>
        <%}%>
      </div>
    </div>
    <div style="margin-top:5%;">
        <div style="color: black;margin-top:15px;"><h2><span style="background-color:white;border-radius:30px;padding:15px;font-weight: bold;box-shadow:3px 3px black;"><strong>Welcome to  LT Booking Portal</strong></span></h2></div>
          </div>
    <h1 style="margin-top:9%;color:black"><strong>LogIn</strong></h1>
   
    <div style="width:30%;margin:0  auto;">
      <form action="/login" method="POST" class="form">
        <p>
          <input type="email" name="username" placeholder="username">
        </p>

        <p>
          <input  type="password" name="password" placeholder="password">
        </p>
        <p>
          <p class="full">
            <button type="submit" class="btn btn-info"><strong>Submit</strong></button>
      </form>
    </div>

  </div>
 
</div>
